langchain
langchain-core
langchain-groq
streamlit
python-dotenv
langchain-community
chromadb
pypdf
pymupdf
sentence-transformers
faiss-cpu
python-dotenv
tiktoken
langchain_text_splitters
langchain-huggingface